<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="head">
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <title th:text="${title}"></title>
</div>
<body>

<div th:fragment="spring-blog-header">
    <div class="navbar-fixed">
        <nav class="light-blue">
            <div class="nav-wrapper">
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
              <a onclick="M.toast({html: 'welcome to spring blog!', classes: 'rounded white blue-grey-text hoverable'})" href="#" class="brand-logo">Spring Blog</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                  <li><a href="/posts">view posts</a></li>
                  <li><a href="/posts/create">create post</a></li>
                  <a class='dropdown-trigger btn pulse' href='#' data-target='dropdown1'>more!</a>
                  <ul id='dropdown1' class='dropdown-content'>
                    <li><a href="/"><i class="material-icons">book</i>portfolio</a></li>
                      <li><a href="/weather-map"><i class="material-icons">cloud</i>weather</a></li>
                    <li><a href="/roll-dice"><i class="material-icons">view_module</i>roll dice</a></li>
                      <li>
                        <form th:action="@{/logout}" th:method="post">
                            <button class="btn-link btn" style="margin-top: 8px">Logout</button>
                        </form>
                      </li>
                  </ul>
              </ul>
            </div>
        </nav>
    </div>

    <ul class="sidenav right cyan lighten-5" id="mobile-demo">
              <li><a class="blue-grey-text" href="/posts"><i class="material-icons">visibility</i>view posts</a></li>
              <li><a class="blue-grey-text" href="/posts/create"><i class="material-icons">mode_edit</i>create post</a></li>
              <li><a class="blue-grey-text" href="/"><i class="material-icons">home</i>portfolio</a></li>
              <li><a href="/weather-map"><i class="material-icons">cloud</i>weather</a></li>
              <li><a class="blue-grey-text" href="/roll-dice"><i class="material-icons">view_module</i>roll dice</a></li>
        <li>
            <form th:action="@{/logout}" th:method="post">
                <button class="btn-link btn" style="margin-top: 8px">Logout</button>
            </form>
        </li>
          </ul>
</div>

<div th:fragment="portfolio-header">
    <div class="navbar-fixed">
        <nav class="light-blue">
            <div class="nav-wrapper">
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
              <a onclick="M.toast({html: 'welcome to my porfolio!', classes: 'rounded white blue-grey-text hoverable'})" href="#" class="brand-logo">Will Tisdale</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                  <a class='dropdown-trigger btn pulse' href='#' data-target='dropdown1'>projects!</a>
                  <ul id='dropdown1' class='dropdown-content'>
                    <li><a href="/spring-blog"><i class="material-icons">wb_sunny</i>blog</a></li>
                    <li><a href="/weather-map"><i class="material-icons">cloud</i>weather</a></li>
                      <li>
                        <form th:action="@{/logout}" th:method="post">
                            <button class="btn-link btn" style="margin-top: 8px">Logout</button>
                        </form>
                      </li>
                  </ul>
              </ul>
            </div>
        </nav>
    </div>

    <ul class="sidenav right cyan lighten-5" id="mobile-demo">
        <li><a href="/spring-blog"><i class="material-icons">wb_sunny</i>blog</a></li>
        <li><a href="/weather-map"><i class="material-icons">cloud</i>weather</a></li>
        <li>
            <form th:action="@{/logout}" th:method="post">
                <button class="btn-link btn" style="margin-top: 8px">Logout</button>
            </form>
        </li>
    </ul>
</div>

    <div th:fragment="modal" id="modal1" class="modal">
        <div class="modal-content">
          <h4>Are you sure you want to delete this post?</h4>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-teal btn">No</a>
          <a th:href="@{/posts/delete/{id}(id=${post.id})}" class="modal-close waves-effect waves-red btn">Yes!</a>
        </div>
    </div>

    <ul th:fragment="pagination" class="pagination center">
        <li th:class="${page.isFirst()}? 'disabled' : ''" class="disabled">
            <a th:if='${not page.isFirst()}' th:href="'?page=0'">
                <i class="material-icons">first_page</i>
            </a>
        </li>
        <li th:class="${page.hasPrevious()}? '' : 'disabled'" class="active">
            <a th:if='${page.hasPrevious()}' th:href="'?page=' + ${page.getNumber() - 1}" title='Go to previous page'>
                <i class="material-icons">chevron_left</i>
            </a>
        </li>
        <li th:each="i : ${#numbers.sequence(1, page.getTotalPages())}" class="waves-effect">
            <a th:if='${not ((i - 1) == param.page)}' th:href="'?page=' + ${(i -1)}">
                <span th:style="${i - 1 == page.getNumber()}? 'text-decoration: overline;font-weight: bold ' : ''" th:text='${i}'></span>
            </a>
        </li>
        <li th:class="${page.hasNext()} ? '' : 'disabled'" class="waves-effect">
            <a th:if='${page.hasNext()}' th:href="'?page=' + ${page.getNumber() + 1}" title='Go to next page'>
                <i class="material-icons">chevron_right</i>
            </a>
        </li>
        <li th:class="${page.isLast()}? 'disabled' : ''" class="waves-effect">
            <a th:if='${not page.isLast()}' th:href="'?page=' + ${page.getTotalPages() - 1}">
                <i class="material-icons">last_page</i>
            </a>
        </li>
    </ul>

    <div class="page-footer light-blue lighten-3" th:fragment="portfolio-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text" th:text="${footerTitle}"></h5>
                <p class="grey-text text-lighten-4" th:text="${footerAbout}"></p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li class="chip hoverable"><img class="circle" th:src="@{/img/resume.png}"><a class="blue-grey-text" th:href="@{/pdf/resume.pdf}" target="_blank">Resume</a></li>
                  <li class="chip hoverable"><img class="circle" th:src="@{/img/linkedin.png}"><a class="blue-grey-text" href="https://linkedin.com/in/willtisdale" target="_blank">LinkedIn</a></li>
                  <li class="chip hoverable"><img class="circle" th:src="@{/img/github.png}"><a class="blue-grey-text" href="https://github.com/willtisdale" target="_blank">GitHub</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright light-blue">
            <div class="container">
            © 2021 Will Tisdale Portfolio
            </div>
          </div>
        </div>

        <div class="page-footer light-blue lighten-3" th:fragment="footer">
          <div class="footer-copyright light-blue">
                <div class="container valign-wrapper">
                         © 2021 Will Tisdale Portfolio
                        <ul class="right hide-on-small-and-down" style="margin-left: auto">
                          <li class="chip hoverable"><img class="circle" th:src="@{/img/resume.png}"><a class="blue-grey-text" th:href="@{/pdf/resume.pdf}" target="_blank">Resume</a></li>
                          <li class="chip hoverable"><img class="circle" th:src="@{/img/linkedin.png}"><a class="blue-grey-text" href="https://linkedin.com/in/willtisdale" target="_blank">LinkedIn</a></li>
                          <li class="chip hoverable"><img class="circle" th:src="@{/img/github.png}"><a class="blue-grey-text" href="https://github.com/willtisdale" target="_blank">GitHub</a></li>
                        </ul>
                </div>
            </div>
          </div>
        </div>

    <div class="page-footer light-blue lighten-3" th:fragment="index-footer">
            <ul class="pagination center">
                <li th:class="${page.isFirst()}? 'disabled' : ''" class="disabled">
                    <a th:if='${not page.isFirst()}' th:href="'?page=0'">
                        <i class="material-icons">first_page</i>
                    </a>
                </li>
                <li th:class="${page.hasPrevious()}? '' : 'disabled'" class="active">
                    <a th:if='${page.hasPrevious()}' th:href="'?page=' + ${page.getNumber() - 1}" title='Go to previous page'>
                        <i class="material-icons">chevron_left</i>
                    </a>
                </li>
                <li th:each="i : ${#numbers.sequence(1, page.getTotalPages())}" class="waves-effect">
                    <a th:if='${not ((i - 1) == param.page)}' th:href="'?page=' + ${(i -1)}">
                        <span th:style="${i - 1 == page.getNumber()}? 'text-decoration: overline;font-weight: bold ' : ''" th:text='${i}'></span>
                    </a>
                </li>
                <li th:class="${page.hasNext()} ? '' : 'disabled'" class="waves-effect">
                    <a th:if='${page.hasNext()}' th:href="'?page=' + ${page.getNumber() + 1}" title='Go to next page'>
                        <i class="material-icons">chevron_right</i>
                    </a>
                </li>
                <li th:class="${page.isLast()}? 'disabled' : ''" class="waves-effect">
                    <a th:if='${not page.isLast()}' th:href="'?page=' + ${page.getTotalPages() - 1}">
                        <i class="material-icons">last_page</i>
                    </a>
                </li>
            </ul>
          <div class="footer-copyright light-blue">
            <div class="container valign-wrapper">
                         © 2021 Will Tisdale Portfolio
                        <ul class="right hide-on-small-and-down" style="margin-left: auto">
                          <li class="chip hoverable"><img class="circle" th:src="@{/img/resume.png}"><a class="blue-grey-text" th:href="@{/pdf/resume.pdf}" target="_blank">Resume</a></li>
                          <li class="chip hoverable"><img class="circle" th:src="@{/img/linkedin.png}"><a class="blue-grey-text" href="https://linkedin.com/in/willtisdale" target="_blank">LinkedIn</a></li>
                          <li class="chip hoverable"><img class="circle" th:src="@{/img/github.png}"><a class="blue-grey-text" href="https://github.com/willtisdale" target="_blank">GitHub</a></li>
                        </ul>
                </div>
          </div>
        </div>

    <div th:fragment="script" th:remove="tag">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script>
            $(document).ready(function(){
                $('.modal').modal();
                $('.dropdown-trigger').dropdown();
                $('#submit').click(function(){
                    $('#editForm').submit();
                })
                $('.sidenav').sidenav();
                $('.parallax').parallax();
                console.log($('.quote'));
                $('.quote').width($('img.my-image').css("width"));
            });
        </script>
    </div>
</body>
</html>