<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head th:fragment="head">
    <!--Meta Tags-->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Bootstrap CSS -->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->

    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{css/weather_map.css}">

    <!--MapBox Links-->
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />


    <title>Weather Map</title>

</head>
<header th:fragment="header">
<div class="navbar-fixed">
    <nav class="light-blue">
        <div class="nav-wrapper">
            <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
          <a onclick="M.toast({html: 'welcome to weather map!', classes: 'rounded white blue-grey-text hoverable'})" href="#" class="brand-logo">Weather Map</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="/"><i class="material-icons">home</i></a></li>
              <a class='dropdown-trigger btn pulse' href='#' data-target='dropdown1'>projects!</a>
              <ul id='dropdown1' class='dropdown-content'>
                <li><a href="/spring-blog"><i class="material-icons">wb_sunny</i>blog</a></li>
                <li><a href="/weather-map"><i class="material-icons">cloud</i>weather</a></li>
                <li><a href="/roll-dice"><i class="material-icons">view_module</i>roll-dice</a></li>
                 <li sec:authorize="isAuthenticated()">
                     <a id="logout"><i class="material-icons">clear</i>logout</a>
                </li>
                <li sec:authorize="isAnonymous()">
                    <a id="login" th:href="@{/login}"><i class="material-icons">portrait</i>login</a>
                </li>
              </ul>
          </ul>
        </div>
    </nav>
</div>

<ul class="sidenav right cyan lighten-5" id="mobile-demo">
  <li><a href="/"><i class="material-icons">home</i>portfolo</a></li>
  <li><a href="/spring-blog"><i class="material-icons">wb_sunny</i>blog</a></li>
  <li><a href="/weather-map"><i class="material-icons">cloud</i>weather</a></li>
  <li><a class="blue-grey-text" href="/roll-dice"><i class="material-icons">view_module</i>roll-dice</a></li>
   <li sec:authorize="isAuthenticated()">
         <a id="logout"><i class="material-icons">clear</i>logout</a>
    </li>
    <li sec:authorize="isAnonymous()">
        <a id="login" th:href="@{/login}"><i class="material-icons">portrait</i>login</a>
    </li>
</ul>

    <form id="logoutForm" th:action="@{/logout}" th:method="post"></form>
</header>
<body>




<div th:fragment="footer" class="page-footer light-blue lighten-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text" th:text="${footerTitle}"></h5>
        <p class="grey-text text-lighten-4" th:text="${footerAbout}"></p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li class="chip hoverable"><img class="circle" th:src="@{/img/resume.png}"><a class="blue-grey-text" th:href="@{/pdf/resume.pdf}" target="_blank">Resume</a></li>
          <li class="chip hoverable"><img class="circle" th:src="@{/img/linkedin.png}"><a class="blue-grey-text" href="https://linkedin.com/in/willtisdale" target="_blank">LinkedIn</a></li>
          <li class="chip hoverable"><img class="circle" th:src="@{/img/github.png}"><a class="blue-grey-text" href="https://github.com/willtisdale" target="_blank">GitHub</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright light-blue">
    <div class="container">
    © 2021 Will Tisdale Portfolio
    </div>
  </div>
</div>

    <div th:fragment="script" th:remove="tag">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <!--MapBox-->
        <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
        <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css" type="text/css"/>
        <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>


        <script th:src="@{js/keys.js}"></script>
        <script th:src="@{js/weather_map.js}"></script>

        <script>
        $(document).ready(function(){
            $('.modal').modal();
            $('.dropdown-trigger').dropdown();
            $('.sidenav').sidenav();
            $('.collapsible').collapsible();
            $('.tooltipped').tooltip();
        });
        </script>
    </div>
</body>
</html>