body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #e0f7fa;
    color: #607d8b;
}
main {
    flex: 1 0 auto;
}
.main-image {
    border: 5px solid #607d8b;
    border-radius: 50px;
}
.my-image {
    border: 5px solid #607d8b;
    border-radius: 50px;
    min-width: 320px;
    max-width: 410px;
    width: 100%;
    height: auto;
}
.pagination {
    color: #607d8b;
}
.spring-bg {
    background-image: url("../img/spring-meadow.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
blockquote {
    border-left: 5px solid #607d8b !important;
    font-size: large;
}
.main-quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
