#map {
    margin: 1em auto;
    border: 5px solid #607d8b;
    border-radius: 10px;
    width: 90%;
    height: 471px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#card-container {
    width: 90%;
    margin: 15px auto;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #e0f7fa;
    color: #607d8b;
}
main {
    flex: 1 0 auto;
}
@media screen and (min-width: 991px){
    .my-cards {
        height: 400px;
    }
    .outer {
        padding: 5px;
    }
    .card-body {
        padding: 5px;
    }
    .top {
        height: 60px;
    }
}
@media screen and (min-width: 1200px){
    /*.my-cards {*/
    /*    height: 350px;*/
    /*}*/
    .outer {
        padding: 15px;
    }
    .card-body {
        padding: 15px;
    }
}



