<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="partials/partials.html :: head"></div>
<body>
    <div th:replace="partials/partials.html :: portfolio-header"></div>

    <main>
        <div class="container center">
            <h1>error loading content: <span th:text="${error}"></span></h1>
            <br>
            <h4>our team has been notified and is working to resolve the issue</h4>
        </div>
    </main>

    <div th:replace="partials/partials.html :: footer"></div>
    <div th:replace="partials/partials.html :: script"></div>
</body>
</html>